body{
  outline: none;
}

#sup_izq{
  display: flex;
  flex-direction: row;
  flex: 100%;
  background-color: black;
  outline: none;
}

.menu{
  display: flex;
  flex-direction: row;
  flex: 100%;
  background-color: black;
}

.itembarra{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 80px;
  height: auto;
  border: 1px solid white;
  margin: 5px;
  text-align: center;
}

.portada{
  display: flex;
  flex: 100%;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  ), url(redes-cloud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#volver{
  position:fixed;
  right:15px;
  bottom:15px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:#3498db;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px;
  text-align: center;
}

.fotoportada{
  margin-top: 30px;
  width: 150px; height: 150px;
  border-radius: 80px;
}

.hab{
  max-width: 100%;
  max-height: 100px;
}

.social{
  max-width: 50%;
  max-height: 100px;
}


.nombre{
  margin: 20px;
  text-align: center;
  flex: 100%;
  font-size: 150%;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 3px 3px 6px rgb(0, 0, 0);
  text-transform: uppercase;
}

.tituloProgra{
  margin: 20px;
  text-align: center;
  flex: 100%;
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

.acerca{
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  flex: 100%;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 6px rgb(0, 0, 0);
  text-align: justify;
  font-size: 110%;
}

.contenedor{
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex: 100%;
  border: 1px solid black;
  border-radius: 20px;
}

.logosCont{
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex: 100%;
  align-items: center;
}

.logos{
  display: flex;
  flex-direction: row;
}

.textImg{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #393336;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  
}

.tituloCont{
  background-color: #fca102;
  max-width: 240px;
  min-width: 240px;
  height: 100px;
  float: left;
  margin: 15px;
  padding: px 8%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #393336;
  text-align: center;
}

.textoCont{
  text-align: justify;
  margin: 15px;
}

.footerdiv{
  height: 50px;
  border-radius: 20px;
  background-color: black;
}

.textFooter{
  color: white;
  text-align: center;
  padding-top: 15px;
}

@media screen and (max-width: 1024px) {
  .contenedor{
    margin: 15px;
    display: flex;
    flex-direction: column;
    flex: 100%;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
  }

  .tituloCont{
    background-color: #fca102;
    width: 100%;
    height: 100px;
    margin: 15px;
    padding: px 8%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3), 0 0 80px rgba(0, 0, 0, 0.1) inset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #393336;
    text-align: center;
  }

  .logos{
    display: flex;
    flex-direction: row;
    
  }
}

@media screen and (max-width: 850px){
  
  #sup_izq{
    display: flex;
    flex-direction: row;
    flex: 100%;
    background-color: black;
    outline: none;
    align-items: center;
  }
  
  .menu{
    display: flex;
    flex-direction: column;
    flex: 100%;
    background-color: black;
    align-items: center;
  }
  
  .itembarra{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 0px;
    border: 0px solid white;
    margin: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50%;
  }

  .logos{
    display: flex;
    flex-direction: column;
    
  }
}


